<!-- <h1>hello</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>hii</h3>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
</div>
<h1>{{test()}}</h1>
<button [disabled]=isDisabled>submit</button>
<h1 [innerText]="isDisabled"></h1>
<h1 [class]="isactive?'active':'inactive'">hi this is lavanya</h1> -->
<!-- <app-server></app-server>
<app-servers></app-servers> -->
<!--<app-home-page></app-home-page> -->
<!-- <p>{{title}}</p>
<img src="../assets/Screenshot (3).png" alt="" width="20px" height="20px">
<img [src]=path alt="" width="20px" height="20px">
<h1 [class]="{c1:true}">this is one</h1>
<h1 [style]="{color:cvar}">hi</h1>
<h1 [style]="mystyle">then it is time</h1>
<button [disabled]=!isDisabled class="btn btn-primary" (click)=onCreate() >click</button>
<p >{{ serverstatus }}</p> -->
<!-- <h1>{{person | pipes:wish }}</h1> -->
<!-- <app-footer [childdata]="data"></app-footer> -->


<!-- <router-outlet></router-outlet> -->
<!-- <div class="container"> -->
<!-- <app-todo></app-todo> -->
<!-- <app-todolist></app-todolist> -->
<!-- </div> -->
<!-- <app-popup></app-popup> -->

<!-- <app-array></app-array> -->
<!-- <app-password></app-password> -->
<!-- <app-todolist></app-todolist> -->
<app-register></app-register>